footer {
  background-color: black;
  color: gray;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 6px;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-family: Sans-serif;
}
a {
    padding: 2px;
    color: #337ab7;
}